.searchResult {
    width: 100%;
    box-sizing: border-box;
    background-color: darkgray;
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border: 5px;
    border-color: midnightblue;
}

.searchResult.checkBox {
    height: 20px;
    width: 20px;
}

.heading {
    font-size: xx-large;
}