.searchResult {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Proportions of the columns */
    gap: 20px;
    width: 23.5%;
    
    box-sizing: border-box;
    background-color: darkgray;
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border: 5px;
    border-color: midnightblue;
}

.heading {
    font-size: xx-large;
}